<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Promo</title>
</head>
        <h1>Welcome to...</h1>
        <img th:src="@{/images/mmplus.png}"/>

        <div sec:authorize="hasRole('ROLE_USER')">
            <a href="/manager/registerCompany">Реєстрація нового Постачальника</a>
        </div>
        <br><br>

        <div sec:authorize="hasRole('ROLE_COMPANY')">
            <a href="/place-hot-price-promo-order">Замовлення "Гаряча ціна"</a>
        </div>
        <div>
            <a href="/mmplus/hot-price-schedule-form">Додаты період промо</a>
        </div>
        <br>
        <div>
            <a href="/mmplus/hot-price-schedule-list">Графік промо</a>
        </div>
        <br><br>

        <form method="POST" th:action="@{/logout}">
            <button type="submit" value="Logout">Виход з системи</button>
        </form>

</body>
</html>