<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <form method="post" th:action="@{/orders}" th:object="${hotPricePromoOrderHolder}">
        <h1>Підтвердження замовлення в Гарячу ціну</h1>
        <a th:href="@{/company/place-hot-price-promo-order}" id="another">Подати ще одне замовлення</a>
         th:if="${#fields.hasAnyErrors()}">
            <span class="validationErrors">
                Будь ласка виправьте помилки!
            </span>
        <h3>Відповідальний за заповнення замовлення</h3>
        <label for="name">Призвище та Им'я:</label>
        <input id="name" type="text" th:field="*{name}"/>
        <span class="validationErrors"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"></span>
        <br/>

        <h3>Контактний номер</h3>
        <label for="contactPhoneNumber">Контактний номер телефону:</label>
        <input id="contactPhoneNumber" type="text" th:field="*{contactPhoneNumber}"/>
        <span class="validationErrors"
                th:if="${#fields.hasErrors('contactPhoneNumber')}"
                th:errors="*{contactPhoneNumber}"></span>
        <br/>

        <button type="submit" value="Видправити замовленя."/>
    </form>

</body>
</html>